<?xml version="1.0" encoding="utf-8"?>
<configuration>




    <appSettings>
      <!-- settings for UnhandledExceptionManager class -->
      <add key="UnhandledExceptionManager/EmailTo" value="mtrivo@phinma.com.ph"/>
      <add key="UnhandledExceptionManager/ContactInfo" value="Mark Angelo Rivo at 533-7777 loc. 708"/>
      <add key="UnhandledExceptionManager/IgnoreDebug" value="False"/>
      <add key="UnhandledExceptionManager/LogToEventLog" value="False"/>
      
      <add key="UnhandledExceptionManager/SendEmail" value="True"/>
      <add key="UnhandledExceptionManager/KillAppOnException" value="False"/>
      <add key="UnhandledExceptionManager/LogToFile" value="True"/>

      <!-- settings for Oracle Database Connection -->
      <add key="Host" value="localhost"/>
      <add key="HostPort" value="1521"/>
      <add key="ServiceName" value="xe"/>
      <add key="AppSchema" value="app_pms"/>

    </appSettings>
   
  <!--
  <oracle.dataaccess.client>
    <settings>
     
      <add name="TraceFileName" value="c:\odpnet1.trc"/>
      <add name="TraceLevel" value="63"/> 
    </settings>
  </oracle.dataaccess.client>
    -->
<startup  useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

</configuration>
